<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{content}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <!--display comment -->
   {{#if comments.length}}
  <div class="col-md-6 blog-list">
    <h3>Comments:</h3>

    {{#each comments as |comment|}}
    <div class="row mb-2" data-id="{{comment.comm_content}}">
      <div class="col-md-8" data-id="{{comment.blog_id}}>
        <h4><a href="/comment/{{comment.blog_id}}">{{comment.comm_content}}</a></h4>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/comment.js"></script>


{{#if logged_in}}
  <!--comment box-->
  <div class="row mt-4">
    <div class="col-md-6">
      <form class="form new-comment-form">
        <!--<input type="hidden" value="{{blog_id}}" id="blog-id" /> -->
        <div class="form-group">
          <label for="comment-content">comment:</label>
          <textarea
            class="form-input"
            id="comment-content"
            name="comment-content"
          ></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <script src="/js/comment.js"></script>
{{/if}}